{% load static %}
<div class="weather-information p-2 full col items-center md:justify-evenly mt-6 md:mt-0">
    <h2 class="text-center text-2xl md:text-4xl text-BLUE_DARKER">{{ response.request.query }}</h2>
    <img id="loading-image" src="{% static 'images/svg/' %}{{ response.gif }}" alt="Weather" class="w-3/5 md:w-1/4 mt-6 md:mt-0" />
    <div class="col md:row flex-wrap w-full justify-evenly items-center md:items-stretch mt-4 md:mt-0">
        <div class="col w-1/3 centered my-3 md:my-0">
            <span class="font-bold">Temperature</span>
            <P class="text-3xl font-bold text-BLUE_DARK">{{ response.current.temperature }}°</span>
        </div>
        <div class="col w-1/3 centered my-3 md:my-0">
            <span class="font-bold">Wind Speed</span>
            <P class="text-3xl font-bold text-BLUE_DARK">{{ response.current.wind_speed }} km/h</sPpan>
        </div>
        <div class="col w-1/3 centered my-3 md:my-0">
            <span class="font-bold">Humidity</span>
            <P class="text-3xl font-bold text-BLUE_DARK">{{ response.current.humidity }}%</P>
        </div>
    </div>
</div>